!FizzBuzz.FizzBuzz.sln
!./FizzBuzz/FizzBuzz.cs
*.v2
*.json
*.pdb
FizzBuzz/.vs/FizzBuzz/v17/.futdcache.v1
FizzBuzz/.vs/FizzBuzz/v17/.suo
FizzBuzz/Backup/FizzBuzz.sln
FizzBuzz/bin/Debug/net6.0/FizzBuzz.dll
FizzBuzz/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
FizzBuzz/obj/Debug/net6.0/apphost.exe
FizzBuzz/obj/Debug/net6.0/FizzBuzz.AssemblyInfo.cs
FizzBuzz/obj/Debug/net6.0/FizzBuzz.AssemblyInfoInputs.cache
FizzBuzz/obj/Debug/net6.0/FizzBuzz.assets.cache
FizzBuzz/obj/Debug/net6.0/FizzBuzz.csproj.AssemblyReference.cache
FizzBuzz/obj/Debug/net6.0/FizzBuzz.csproj.BuildWithSkipAnalyzers
FizzBuzz/obj/Debug/net6.0/FizzBuzz.csproj.CoreCompileInputs.cache
FizzBuzz/obj/Debug/net6.0/FizzBuzz.csproj.FileListAbsolute.txt
FizzBuzz/obj/Debug/net6.0/FizzBuzz.dll
FizzBuzz/obj/Debug/net6.0/FizzBuzz.GeneratedMSBuildEditorConfig.editorconfig
FizzBuzz/obj/Debug/net6.0/FizzBuzz.genruntimeconfig.cache
FizzBuzz/obj/Debug/net6.0/FizzBuzz.GlobalUsings.g.cs
FizzBuzz/obj/Debug/net6.0/ref/FizzBuzz.dll
FizzBuzz/obj/FizzBuzz.csproj.nuget.g.props
FizzBuzz/obj/FizzBuzz.csproj.nuget.g.targets
FizzBuzz/obj/project.nuget.cache
FizzBuzz/UpgradeLog.htm
FizzBuzz/FizzBuzz.csproj
FizzBuzz/FizzBuzz.sln
*.dll
